h1 {
    color: red;
    background-color: #ccc;

}

p {
    color: green;
    font-size: 35px;

}

div {
    width: 400px;
    height: 400px;
    background-color: green;
    color: white;
}

h2 {
    background-color: white;
    color: black;
    border: 1px solid blue;
}